body {
  font-size: 12px;
}

.main {
  max-width: 450px;
  padding: 12px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.pure-form label {
  padding-bottom: 4px;
  font-weight: bold;
}

input.pure-input-1 {
  margin-bottom: 4px !important;
}

#tradeContainer {
  align-items: center;
}

.table {
  width: 100%;
}

.table td,
.table th {
  text-align: center !important;
}

.table td {
  cursor: pointer;
  text-align: center !important;
}

.isCopied {
  background-color: rgba(0, 197, 49, .25) !important;
}

.positionSizeErrorMessage {
  display: none;
}

.positionSizeWarningMessage {
  display: none;
}

.positionSizeWarningCell {
  background-color: #fffaf3 !important;
  color: #573a08 !important;
}

.isWarningShown {
  display: block;
}

.isErrorShown {
  display: block;
}

@media screen and (max-width: 767px) {
  input, select, textarea {
    font-size: 16px;
  }
}