<footer>
  <span>&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Made with <span class="footer__heart">&hearts;</span> by {{ site.author.name }}.</span>
  <div class="footer__link-container">
    <a class="link--about link--icon" href="https://www.github.com/mrkchoi" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a class="link--about link--icon" href="https://www.linkedin.com/in/kenneth-choi-42502a35/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</footer>
