<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <section>
      <h2>Get in touch</h2>
      <form method="post" action="https://formsubmit.co/kennethichoi@gmail.com">
        <div class="fields">
          <div class="field half">
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="field half">
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>
          <div class="field">
            <textarea name="message" id="message" placeholder="Message"></textarea>
          </div>
          <input type="hidden" name="_subject" value="New Contact Form Submission!">
          <input type="text" name="_honey" style="display:none">
          <input type="hidden" name="_next" value="https://www.kchoi.io">
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send" class="primary" /></li>
        </ul>
      </form>
    </section>
    <section>
      <h2>Follow</h2>
      <ul class="icons">
        <li><a href="https://www.linkedin.com/in/kenneth-choi-42502a35/" target="_blank" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://www.github.com/mrkchoi" target="_blank" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://angel.co/kenneth-choi-1" target="_blank" class="icon brands style2 fa-angellist"><span class="label">AngelList</span></a></li>
      </ul>
      <div>
        <p class="footer-contact-info">
          <strong>Kenneth Choi</strong>
          <br />
          Software Engineer
          <br />
          <strong>Phone:</strong>
          <br />
          <a href="tel: 4082393088" class=""><span class="">(408) 239-3088</span></a>
          <br />
          <strong>Email:</strong>
          <br />
          <a href="mailto: kennethichoi@gmail.com" class=""><span class="label">kennethichoi@gmail.com</span></a>
        </p>
      </div>
    </section>
    <ul class="copyright">
      <li>
        <span>&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Made with <span
          class="footer__heart">&hearts;</span> by {{ site.author.name }}.</span>
      </li>
    </ul>
  </div>
</footer>
<!-- Scripts -->

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/browser.min.js"></script>
<script src="../assets/js/breakpoints.min.js"></script>
<script src="../assets/js/util.js"></script>
<!-- <script src="../assets/js/particle_lib.js"></script> -->
<script src="../assets/js/main.js" defer="defer"></script>
<!-- <script src="../assets/js/particles.js"></script> -->