{% include head.html %}

<body class="is-preload">
	<div id="particles-js"></div>
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="{{ site.baseurl }}/" class="logo">
					<span class="symbol"><img src="../assets/images/logo.svg" alt="" /></span><span class="title">Kenneth
						Choi</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Kenneth Choi</h2>
			<ul>
				<li><a href="{{ site.baseurl }}">Home</a></li>
				<li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
				<li><a href="{{ site.baseurl }}/">Blog</a></li>
				<li><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
					<div class="landing-header__text-wrapper">
						<h1>Hello, I'm Kenneth Choi. <br />I'm a software engineer in San Francisco.</h1>
						<p>Feel free to check out my work and reach out if you're interested in working together. Thanks for stopping by!</p>
					</div>
					<div class="landing-header__img-wrapper">
						<img src="../assets/images/kenneth_choi_software_engineer_headshot.jpeg" alt="" class="landing-header__img">
					</div>
				</header>

				<h2 class="landing-header-md">Latest Projects</h2>
				<section class="tiles landing-projects">
					<article class="style3">
						<span class="image">
							<img src="../assets/images/aerbnb-kenneth-choi-portfolio.jpg" alt="" />
						</span>
						<a href="https://aerbnb.herokuapp.com" target="_blank">
							<h2>Aerbnb</h2>
							<div class="content">
								<p>A pixel-perfect clone of Airbnb built with Ruby on Rails, React and Redux</p>
								<p><strong>(Ruby on Rails, PostgreSQL, React, Redux, Sass, Webpack, AWS, Heroku, Git, HTML5)</strong></p>
							</div>
						</a>
					</article>
					<article class="style2">
						<span class="image">
							<img src="../assets/images/world-happiness-report-data-visualization-kenneth-choi-portfolio.jpg" alt="" />
						</span>
						<a href="https://mrkchoi.github.io/WHR_data_visualization/" target="_blank">
							<h2>World<br />Happiness<br />Report</h2>
							<div class="content">
								<p>Data Visualization of the annual World Happiness Report built with d3.js and ES6 JavaScript</p>
								<p><strong>(D3.js, JavaScript, Axios, Webpack, Babel, Sass, HTML5, Git)</strong></p>
							</div>
						</a>
					</article>
					<article class="style6">
						<span class="image">
							<img src="../assets/images/typefighter-kenneth-choi-portfolio.jpg" alt="" />
						</span>
						<a href="https://typefighter.herokuapp.com/" target="_blank">
							<h2>TypeFighter</h2>
							<div class="content">
								<p>A real-time multiplayer game for improving typing speed built with the MERN stack</p>
								<p><strong>(MongoDB, Express, React, Redux, Node.js, Sockets.io, Sass, HTML5, Git)</strong></p>
							</div>
						</a>
					</article>
				</section>

				<br><br>
				<section class="landing-skills">
					<h2>Skills</h2>
					<div class="landing-skills__main">
						<i class="devicon-ruby-plain-wordmark"></i>
						<i class="devicon-rails-plain-wordmark"></i>
						<i class="devicon-javascript-plain"></i>
						<i class="devicon-react-original-wordmark"></i>
						<i class="devicon-postgresql-plain-wordmark"></i>
						<i class="devicon-mongodb-plain-wordmark"></i>
						<i class="devicon-express-original-wordmark"></i>
						<i class="devicon-nodejs-plain-wordmark"></i>
						<!-- <i class="devicon-mysql-plain-wordmark"></i> -->
						<i class="devicon-html5-plain-wordmark"></i>
						<i class="devicon-sass-original"></i>
						<i class="devicon-css3-plain-wordmark"></i>
						<i class="devicon-git-plain-wordmark"></i>
						<i class="devicon-amazonwebservices-plain-wordmark"></i>
						<i class="devicon-babel-plain"></i>
						<!-- <i class="devicon-bootstrap-plain-wordmark"></i> -->
						<i class="devicon-d3js-plain"></i>
						<!-- <i class="devicon-github-plain-wordmark"></i> -->
						<!-- <i class="devicon-heroku-original-wordmark"></i> -->
						<!-- <i class="devicon-illustrator-plain"></i>
						<i class="devicon-photoshop-plain"></i> -->
						<!-- <i class="devicon-jquery-plain"></i> -->
					</div>
				</section>

				<section class="landing-about">
					<h2>About</h2>
					<div class="landing-about-inner-wrapper">	
						<div class="landing-about-content">
							<p>		
								Hi! I'm Kenneth Choi, a software engineer living in beautiful San Francisco. I like solving puzzles, learning about logic, and picking up programming languages. I am experienced with Ruby on Rails, React, Redux, JavaScript, HTML, and CSS. 
								<br />
								<br />
								Writing, optimizing, and even debugging code is genuinely fun for me, especially when collaborating with others. In a way, programming has been my outlet for problem-solving and creative expression.
								<!-- <br />
								<br />
								
								One of my biggest assets is my ability to pick up new technologies rapidly. In just ten days, I built a full-stack application (a clone of Airbnb), using a Ruby on Rails backend with a PostgreSQL database and React with Redux on the front-end to create a seamless, lightning fast single-page app. You can check it out above!
								<br />
								<br />
								Some new skills I had to teach myself in order to complete the project included sending AJAX requests to Google Maps and
								Geocoder APIs, dynamically generating search results based upon map coordinates, and handling uploads on the
								front-end by storing images in the cloud with AWS S3.
								<br />
								<br />
								Due to my strong work ethic and high aptitude for learning, I have achieved consistent academic success. I am confident
								that these traits combined with my software-development knowledge and sociable personality will allow me to thrive as a
								member of any team. -->
								<br />
								<br />
								Thank you for taking the time to look through my site and looking forward to connecting!
								<br />
								<br />
								Sincerely,
								<div class="landing-about-sig">
									<img src="../assets/images/kenneth-choi.png" alt="Kenneth Choi">
								</div>
							</p>
						</div> 
					</div>

				</section>

			</div>
		</div>



		{% include footer.html %}
	</div>
</body>